{% extends 'base.html' %}
{%block head%}
{% load static %}
<link rel="stylesheet"  href="{% static 'accounts/login_style.css' %}" type = "text/css">

{%endblock%}

{% block body %}


<div class="login_form">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <div class="form">

        {{ field.label_tag }}<br>
        {{ field }}
        </div>



      </p>
    {% endfor %}
    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
          <small style="color: red">{{ error }}</small>
        {% endfor %}
    </ul>
    {% endif %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="submit" name="submit">
    Change
    </button>

</form>
</div>

{% endblock %}
