{% extends 'base.html' %}

{% block head %}
    <title>Strona startowa </title>
{% endblock %}


{% block body %}
  <div class="jumbotron">
        <h1> Strona startowa </h1>
  </div>

  <div class="container">
      {% if user.is_authenticated %}
      Witaj {{ user.profile.Forename }}!!<br/>

      {% else %}
      Witaj nieznajomy!<br/>
      {% endif %}
      Tym zajmuje sie <kbd>Hubert</kbd>
      cos<br/>
      cos<br/>
      cos<br/>
      cos<br/>
      cos<br/>
      cos<br/>
      cos<br/>
  </div>

{% endblock %}
