{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet"  href="{% static 'accounts/add_robot.css' %}" type = "text/css">
{% endblock %}
{% block body %}
<div class="addForm">
      <h1> Manual Groups LegoSumo </h1>



  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <div class="form">
        {{ field.label_tag }}<br>
        {{ field }}
        </div>

        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}

      </p>
    {% endfor %}
    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
          <small style="color: red">{{ error }}</small>
        {% endfor %}
    </ul>
    {% endif %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="submit" name="submit">
    Add
    </button>

</form>
</div>

{% endblock %}
