{% extends 'base.html' %}

{%block head%}
{% load static %}
<link rel="stylesheet"  href="{% static 'accounts/matches_style.css' %}" type = "text/css">

{%endblock%}
{% block body %}



<div class="matches">
  <h1> RACES </h1>
    <form method="get">
      {{ filter.form.as_p }}
      <button type="submit">Search</button>
    </form>
    <ul>
<br><br>
      <table border="2" algin = "right">
        <tr>
          <td>TEAM</td>	<td>ROBOT</td> <td>RESULT </td>
        </tr>
    {% for match in filter.qs%}
    <tr>
      <td>{{match.IDRobot.TeamID}}</td>	<td>{{match.IDRobot}}</td> <td>{{match.Result}} </td>
    </tr>
    {%endfor%}

    </table>

</div>

{% endblock %}
