{% extends 'base.html' %}
<!DOCTYPE html>


{% load static %}
<link rel="stylesheet"  href="{% static 'accounts/home_style.css' %}" type = "text/css">


{% block body %}
<div class="bgimg-1 w3-display-container w3-opacity-min" >
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">EASTROBO</span><br><br><br>
  {% if user.is_authenticated %}
    <form action="/account/home" >
        <input type = "submit" value="Wiadomosc Wyslana">
    </form>
  {% else %}
    <form action="/account/home" >
        <input type="submit" value="Home Page" />
    </form>
  {% endif %}
  </div>
</div>



{%endblock%}
