body{

  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: url(tlo.jpg) no-repeat;
  background-size: cover;
}
.login_form{

  width: 520px;
  padding: 40px;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background: #191919;
  background-color: rgba(0,0,0,.5);
  text-align: center;
}
.login_form input[type ="text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2980b9;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.login_form input[type ="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2980b9;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.login_form h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.login_form input[type ="password"]:focus{
  width: 280px;
  border-color: #7f8c8d;
}
.login_form input[type ="text"]:focus{
  width: 280px;
  border-color: #7f8c8d;
}

.btn{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2980b9;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;


}
.btn:hover{
  background-color: #2980b9;
}
