body{

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('tlo_register.JPG');
  min-height: 100%;
  background-color: #2980b9
}
.register_form{

  width: 800px;
  padding: 40px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background: #191919;
  background-color: rgba(0,0,0,.5);
  text-align: center;
}
.register_form input[type ="text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fff200;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.register_form input[type ="email"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fff200;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.register_form input[type ="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fff200;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.register_form input[type ="ChoiceField"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fff200;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.register_form h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.register_form input[type ="password"]:focus{
  width: 480px;
  border-color: #7f8c8d;
}
.register_form input[type ="text"]:focus{
  width: 480px;
  border-color: #7f8c8d;
}
.register_form input[type ="email"]:focus{
  width: 480px;
  border-color: #7f8c8d;
}
.g-recaptcha {
       display: inline-block;
   }
.btn{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fff200;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;


}
.btn:hover{
  background-color: #2980b9;
}
